* {
	box-sizing: border-box;
}

.main, .place-holder {
    background-image: linear-gradient(45deg,purple 25%,transparent 0,transparent 75%,purple 0,purple),linear-gradient(45deg,purple 25%,#fff 0,#fff 75%,purple 0,purple);
    background-position: 0 0,30px 30px;
    background-size: 60px 60px;
}

.main {
    position: relative;
    font-family: Assistant;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    height: 100vh;
}

.main, body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--absolute-black); 
}

.webPage {
  padding-top: 65px;
}

.scrollable {
    overflow: auto;
    flex: 1;
    scroll-behavior: smooth;
}

.header {
    padding-top: 6vmin;
    padding-bottom: 5.5vmin;
    background-color: var(--focus-color);
    color: var(--absolute-white);
    font-size: 1.5vmax;
}

.header, .page.dining>.options>* {
    padding: var(--margin-start);
}

.header .title {
    font-size: 4vmax;
}

.main .page .header .subtitle {
    font-family: inherit;
}

.main .page .subtitle {
    font-family: SecularOne;
    font-weight: 400;
}

dropdown {
    position: relative;
    display: block;
    font-size: 1.25vmax;
    -webkit-tap-highlight-color: transparent;
    height: calc(1em + 2vh + 5px);
    margin-top: .4em;
    font-weight: 400;
    user-select: none;
    z-index: 0;
    --transition-time: .35s;
    transition: 0s z-index var(--transition-time);
}

dropdown>.content {
    transition: max-height var(--transition-time) ease-in-out;
    max-height: calc(1em + 2vh + 4.25px);
    overflow: hidden;
    border-radius: var(--border-radius);
    border: 3px solid var(--white-4);
    background-color: var(--bg);
}

dropdown>.content>:first-child {
    font-weight: 700;
}

dropdown>.content>* {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(1em + 2vh);
    padding: 0 1vh;
}

decoratedtitle {
    display: block;
    line-height: 1.2;
}

.main .page .retractable {
    cursor: pointer;
    display: flex;
    align-content: center;
}

dropdown>.content .retractable {
    position: absolute;
    left: 1em;
}

dropdown .retractable {
    width: 1em;
}

.main .page .retractable:after, .main .page .retractable:before {
    content: "";
    display: inline-block;
    width: 15%;
    padding-top: 75%;
    background-color: var(--absolute-black);
    border-radius: 15px;
    transition: transform .5s ease-in-out;
}

.main .page .retractable:before {
    margin-inline-start: 20%;
    transform: rotate(45deg);
}

.main .page .retractable:after {
    margin-inline-start: 30%;
    transform: rotate(-45deg);
}

.main .page .retractable.opened:after, .main .page :focus .retractable:after {
    transform: rotate(-135deg);
}

.main .page .retractable.opened:before, .main .page :focus .retractable:before {
    transform: rotate(135deg);
}

.date {
    color: var(--focus-color);
    font-size: .8em;
}

.main .page .corona-warn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5em;
}

.main .page .corona-warn>.warn-sign {
    font-size: 2.5em;
    background-color: var(--absolute-white);
    padding: .1em .6em 0;
    margin-bottom: -.9em;
    border-radius: 50%;
    position: relative;
    border: .1em solid var(--absolute-black);
    font-family: SecularOne;
}

.main .page .corona-warn>.warn-body {
    background-color: var(--absolute-black);
    color: var(--emphasis-color);
    text-align: center;
    padding: 2em 2em 1em;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: .5em;
}